body{
  margin: 0;
  padding: 0;
  background-color:aquamarine;
  background :linear-gradient(90deg , rgba(2,0,36,1) 0%,rgba(9,98,121,1) 35%, rgba(0,212,255,1)100%)
}


#wrapper{
  border: solid 3px black;
  padding: 1rem;
}

.container{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid 1px black;
  width: auto;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: black;

}

.container span{
  margin-left: 10px;
}


#ampm{
  font-size: 3rem;
  align-items: end;
}